{% extends "layout.twig" %}

{% block content %}
<div class="hero-unit">
      <h1>{{ name }}</h1>
      <p></p>
    </div>

    <div class="row">
      <div class="span-one-third">
        <h2>header 2</h2>

          <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">…111111</div>
              <div class="item">…222222</div>
              <div class="item">333333333…</div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>


      </div>
      <div class="span-one-third">troll </div>
      <div class="span-one-third">sits on your face</div>
    </div>
{% endblock %}
