{% extends "layout.twig" %}

{% block content %}
<div class="hero-unit">
      <h1>{{ name }}</h1>
      <p></p>
    </div>

    <div class="loader-container">
      <script>
      var square = new Sonic({

        width: 100,
        height: 100,

        stepsPerFrame: 7,
        trailLength: .7,
        pointDistance: .01,
        fps: 30,

        setup: function() {
          this._.lineWidth = 10;
        },

        path: [
          ['line', 20, 70, 50, 20],
          ['line', 50, 20, 80, 70],
          ['line', 80, 70, 20, 70]
        ]

        });

    square.play();

    document.body.appendChild(square.canvas);

    </script>
  </div>
{% endblock %}
