{% extends "layout.twig" %}

{% block content %}


<h2>BJA Judo - Adult beginner course. Probably the best deal of 2013.</h2>
<img src="assets/images/deals/201301-newcrossmartialarts-promo.png" alt="BJA Judo Beginner Course at New Cross Martial Arts  promo offer" >




<!-- OFFER 2012-09 -->
<!--     <div class="row">
       <h1>BJA Judo Beginner Course at New Cross Martial Arts </h1>
       <p>The Junior Beginner Course cost £50 which includes a British Judo membership, training diary, record book, insurance, the 10 weeks of coaching fees, first red belt and judogi (judo suit). </p>
       <p>course begins on 19th September; 19:00 - 20:00</p>

        <p>The Adult Beginners Courses cost £60 which includes a British Judo membership, training diary, record book, insurance, the 10 weeks of coaching fees, first grading and judogi (judo suit) course begins on 19th September at 20:00 - 21:45.
        More information available at <b><a href="www.britishjudo.org.uk/beginners">www.britishjudo.org.uk/beginners</a></b>
        </P>

        <h2>Where ?</h2>
        <P>
             New Cross Martial Arts, Galleywall Road Tenants Hall, Galleywall Road, London, SE16 3PB
        </p>
        <p>
           <a href="http://newcrossmartialarts-judo.blogspot.co.uk/2012/09/bja-judo-beginner-course-at-new-cross.html">
            newcrossmartialarts-judo.blogspot.co.uk/2012/09/bja-judo-beginner-course-at-new-cross.html
           </a>
        </p>

    </div> -->


<!-- MAP -->
<!--     <div class="row">
        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=207413328079912712213.0004c6d4f8492c4424ee1&amp;hl=en&amp;ie=UTF8&amp;ll=51.48198,-0.042759&amp;spn=0.01419,0.031426&amp;t=h&amp;iwloc=0004c6d5064831b5a43df&amp;output=embed">
        </iframe><br />

        <small>View <a href="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=207413328079912712213.0004c6d4f8492c4424ee1&amp;hl=en&amp;ie=UTF8&amp;ll=51.48198,-0.042759&amp;spn=0.01419,0.031426&amp;t=h&amp;iwloc=0004c6d5064831b5a43df&amp;source=embed" style="color:#0000FF;text-align:left">New Cross Martial Arts - Judo Clubs</a> in a larger map</small>

    </div>
-->


{% endblock %}
