{% extends "layout.twig" %}

{% block content %}
      <div class="row">
        <div class="span4">
           <h1>Club photo gallery</h1>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h3>2012-08-04 Judo Demo at Hyde Park with the British Squad</h3>
          <embed
          type="application/x-shockwave-flash"
          src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
          width="100%"
          height="280"

          flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F117591587568340488173%2Falbumid%2F5772942838806399585%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
          pluginspage="http://www.macromedia.com/go/getflashplayer">
         </embed>
        </div>
        <div class="span4">
          <h3>2012-08 olympic squad</h3>
           <!-- 2012-08 olympic squad
           https://plus.google.com/photos/100753612719060742108/albums/5775842235361709281 -->
          <embed
          type="application/x-shockwave-flash"
          src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
          width="100%"
          height="280"

          flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100753612719060742108%2Falbumid%2F5775842235361709281%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
          pluginspage="http://www.macromedia.com/go/getflashplayer">
          </embed>
        </div>
        <div class="span4">
          <h3>2012-08-09 senior judo session</h3>
          <!-- https://plus.google.com/u/0/photos/100753612719060742108/albums/5774811834013261921 -->
          <embed
          type="application/x-shockwave-flash"
          src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
          width="100%"
          height="280"

          flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100753612719060742108%2Falbumid%2F5774811834013261921%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
          pluginspage="http://www.macromedia.com/go/getflashplayer">
         </embed>
        </div>
      </div>




      <div class="row">
        <div class="span4">
          <h3>2012-07-09 senior judo session</h3>
          <!-- https://plus.google.com/u/0/photos/100753612719060742108/albums/5763291618326494433 -->
          <embed
          type="application/x-shockwave-flash"
          src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
          width="100%"
          height="280"

          flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100753612719060742108%2Falbumid%2F5763291618326494433%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
          pluginspage="http://www.macromedia.com/go/getflashplayer">
         </embed>
        </div>
        <div class="span4">
          <h3>2012-06 club mini competition at Edo</h3>
          <!-- club mini competition
           https://plus.google.com/u/0/photos/100753612719060742108/albums/5763293556733878129 -->
          <embed
          type="application/x-shockwave-flash"
          src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
          width="100%"
          height="280"

          flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100753612719060742108%2Falbumid%2F5763293556733878129%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
          pluginspage="http://www.macromedia.com/go/getflashplayer">
         </embed>
        </div>

        <div class="span4">
          <h3> 2011-11 France</h3>
      <!-- 2011-11 France
      https://plus.google.com/photos/100753612719060742108/albums/5775837316603599457 -->
          <embed
          type="application/x-shockwave-flash"
          src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
          width="100%"
          height="280"

          flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100753612719060742108%2Falbumid%2F5775837316603599457%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
          pluginspage="http://www.macromedia.com/go/getflashplayer">
          </embed>
        </div>
      </div>




      <div class="row">
        <div class="span4">
          <h3>ncma millwall</h3>
        <!-- ncma millwall
         https://plus.google.com/photos/100753612719060742108/albums/5775828179679756401 -->
          <embed
          type="application/x-shockwave-flash"
          src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
          width="100%"
          height="280"

          flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100753612719060742108%2Falbumid%2F5775828179679756401%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
          pluginspage="http://www.macromedia.com/go/getflashplayer">
          </embed>
        </div>
        <div class="span4">
          <h3>ncma instructors</h3>
      <!-- ncma instructors
      https://plus.google.com/photos/100753612719060742108/albums/5775853659307875249 -->
          <embed
          type="application/x-shockwave-flash"
          src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
          width="100%"
          height="280"

          flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100753612719060742108%2Falbumid%2F5775853659307875249%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
          pluginspage="http://www.macromedia.com/go/getflashplayer">
          </embed>
        </div>

      <div class="span4">
        <h3>ncma members</h3>
      <!-- ncma members
      https://plus.google.com/photos/100753612719060742108/albums/5775828046165200449 -->
        <embed
        type="application/x-shockwave-flash"
        src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
        width="100%"
        height="280"

        flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F100753612719060742108%2Falbumid%2F5775828046165200449%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
        pluginspage="http://www.macromedia.com/go/getflashplayer">
        </embed>
      </div>
      </div>

   <!-- 2012 Neil and Mitja
      https://plus.google.com/photos/100753612719060742108/albums/5775822930752460993 -->

{% endblock %}
