{% extends "layout.twig" %}

{% block content %}
      <div class="row">
        <div class="span1">
          <a href="./members" title=""><h3>Members</h3></a>
          <a href="./calendar" title=""><h3>Calendar</h3></a>
          <a href="./map" title=""><h3>Map</h3></a>
        </div>

      </div>


      <div class="row">
        <div class="span4">
          <h2>Club News</h2>

            <p>
              <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
              <script>
              new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 4,
                interval: 30000,
                width: 300,
                height: 300,
                theme: {
                  shell: {
                    background: '#333333',
                    color: '#ffffff'
                  },
                  tweets: {
                    background: '#000000',
                    color: '#ffffff',
                    links: '#4aed05'
                  }
                },
                features: {
                  scrollbar: false,
                  loop: false,
                  live: false,
                  behavior: 'all'
                }
              }).render().setUser('NewCrossJudo').start();
              </script>


            </p>

        </div>
        <div class="span4">
          <h2>Instructors</h2>
           <p>Collectively our instructors have over 120 years combined experience in the martial arts. The club ethos is one of cooperative learning and we foster family atmosphere.</p>

          <embed
          type="application/x-shockwave-flash"
          src="https://picasaweb.google.com/s/c/bin/slideshow.swf"
          width="300"
          height="192"

          flashvars="host=picasaweb.google.com&noautoplay=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F101976758003080171401%2Falbumid%2F5769167378631378033%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
          pluginspage="http://www.macromedia.com/go/getflashplayer">
         </embed>

            <p>
            <b>Neil Bartholomew</b> has been heavily involved in martial arts since age 4 (a few years ago!). He holds a black belt in Shotokan Karate, but his main passion has been Judo (along with motor bike racing).
            Neil currently holds a 4th dan black belt in Nakmas Judo, a BJA 2nd Dan black belt a, 2nd Dan BJC black belt, a 1st Dan IBF black belt. He also is the proud holder of Level 1 and 2 BJC Coaching Awards. Neil also holds a level 1 First Aid and CRB and has recently completed his Child Protection course with the BJA.  and a UKCC Level 2 coach. He is our highest ranking Judoka and is highly respected in martial arts circles.
            </p>

            <p>
              <b>Mitja Seffino</b> or Mickey as he's commonly known is the Italian connection. Having gained his black belt in the BJC and possessing BJC Level 1 coaching certificate and having Judo flowing through his veins (his brother is one of Italy's top instructors), he is one of the most dynamic instructors in the club. He has just completed his BJA Child Protection course. Having recently won Gold in competition, Mickey is a force to be reckoned with on the judo mat.
              Mitja's warm ups would put even the most hardened Judoka through their paces. He is always eager to help out.

            </p>


        </div>
        <div class="span4">
          <h2>Membership</h2>
          <p>We aim to promote the fundamental tenets of martial arts: diligence, patience and above all, mutual respect for others.</p>

          <p>You will find our instructors very approachable and willing to help with any problems you may have. We accept all newcomers regardless of previous experience or skill level.</p>

          <p><a class="btn" href="mailto:info@newcrossmartialarts.com">Email Us</a></p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
      </div>
{% endblock %}
