{% extends "layout.twig" %}

{% block content %}
<div class="hero-unit">
      <h1>{{ name }}</h1>
      <p>index p </p>
    </div>
    <div class="row">

          <div class="alert alert-info">
            <strong>Heads up!</strong>
            To add accordion-like group management to a collapsible control, add the data attribute <code>data-parent="#selector"</code>. Refer to the demo to see this in action.
          </div>

    </div>
{% endblock %}
