<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>New Cross Martial Arts - Judo Clubs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>  -->
    <meta name="description" content="New Cross Martial Arts - Judo Clubs official website">
    <meta name="author" content="bart.sakwerda@gmail.com">
    <meta name="keywords" content="
     judo, jujitsu, karate, mma, martial arts,

     london, new cross, peckham, deptford, se1, se2, se3, se4, se5, se6, se7, se8, se9, s10, se11, se12, se13, se14, se15, se16, se17, se18, se19, se20, se21, se22,
     south east london, south london,

     belt, black belt, white belt, brown belt,
     bristish judo, judo training, judo classes, fitness,
     sensei, uchimata, takedown,

     " />

  <!-- Le styles -->

  <!-- bootstrap.scss bootstrap-responsive.scss all in styles scss -->
 <link href="assets/css/bootstrap-styles.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/css/bootstrap-responsive.min.css" /> -->
  <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css" /> -->
  <link href="assets/css/docs.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css" />



  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

    <!-- Le javascript 1/2
  ================================================== -->
  <script src="assets/js/ui/sonic.js"></script>

  <script src="assets/modernizr/modernizr.custom.min.js"></script>


  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">




</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
  <div id="wrap">


    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">New Cross Martial Arts</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li ><a href="./gallery">gallery</a></li>
              <li ><a href="./map">map & address</a></li>
              <li ><a href="./members">members</a></li>
              <li ><a href="./calendar">calendar</a></li>
              <li><a href="http://www.facebook.com/pages/New-cross-martial-arts/193661187315661">facebook page</a></li>

            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



    <div class="container">
      {% block content %}{% endblock %}

      <footer class="footer">
         <div class="row">
              <div class="span4">
                  <p>&copy; New Cross Martial Arts 2012 </p>
              </div>
              <div class="span4">
                  <img src="" alt="">
              </div>
             <div class="span4">
                This site is sponsored by: <br>
                  <img src="assets/images/sponsors/silgar-logo.png" width="120px" height="120px">
             </div>
        </div>
      </footer>

    </div>



  </div>
  <div class="sonic-wrap">
    {% block loader %}{% endblock %}
  </div>

  <!-- Le javascript 2/2
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  <script src="js/libs/bootstrap/bootstrap.min.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33655483-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script src="http://platform.twitter.com/widgets.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="assets/js/ui/jquery.transit.min.js"></script>

  <!-- // <script src="assets/js/google-code-prettify/prettify.js"></script> -->
  <script src="assets/js/bootstrap-transition.js"></script>
  <script src="assets/js/bootstrap-alert.js"></script>
  <script src="assets/js/bootstrap-modal.js"></script>
  <script src="assets/js/bootstrap-dropdown.js"></script>
  <script src="assets/js/bootstrap-scrollspy.js"></script>
  <script src="assets/js/bootstrap-tab.js"></script>
  <script src="assets/js/bootstrap-tooltip.js"></script>
  <script src="assets/js/bootstrap-popover.js"></script>
  <script src="assets/js/bootstrap-button.js"></script>
  <script src="assets/js/bootstrap-collapse.js"></script>
  <script src="assets/js/bootstrap-carousel.js"></script>
  <script src="assets/js/bootstrap-typeahead.js"></script>
  <script src="assets/js/app/app.js"></script>
  <script>

    var opts, square;

    opts = {

      width: 100,
      height: 100,

      stepsPerFrame: 7,
      trailLength: .7,
      pointDistance: .01,
      fps: 30,

      setup: function() {
        this._.lineWidth = 10;
      },

      path: [
        ['line', 20, 70, 50, 20],
        ['line', 50, 20, 80, 70],
        ['line', 80, 70, 20, 70]
      ]
    };

    square = new Sonic(opts);
    square.play();

    document.body.appendChild(square.canvas);
  </script>
</body>
</html>
