{% extends "layout.twig" %}

{% block content %}

    <div class="row">
        <iframe
        width="100%"
        height="260"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        padding-top="50px"
        src="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=207413328079912712213.0004c6d4f8492c4424ee1&amp;ie=UTF8&amp;t=h&amp;ll=51.491003,-0.023003&amp;spn=0.055579,0.411987&amp;z=12&amp;output=embed"></iframe>
        <br />

        <small>View <a href="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=207413328079912712213.0004c6d4f8492c4424ee1&amp;ie=UTF8&amp;t=h&amp;ll=51.491003,-0.023003&amp;spn=0.055579,0.411987&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left">New Cross Martial Arts - Judo Clubs</a> in a larger map</small>
    </div>

    <div class="row">
       <p></p>
       <h1>Club Locations & Information</h1> 

        <h3>NEW CROSS JUDO CLUB466-468 NEW CROSS ROAD SE14 6TJ</h3>

        <p>Monday –  7pm-10pm  Under 16 // 7pm-8pm     Seniors: 8pm-10pm
        Thursday – 7pm-10pm  Under 16 // 7pm-8pm  Seniors: 8pm-10pm</p>


        <h2>MILLWALL JUDO CLUBGALLEYWALL ROAD TENANTS HALL GALLEYWALL ROAD SE16 3PB</h2>

        <p>Wednesday   Juniors 7pm-8pm Under 16 // Seniors 8pm-945pm
        Friday  Juniors 7pm-8pm Under 16 // Seniors 8pm-945pm</p>



    </div>

{% endblock %}
