{% extends "layout.twig" %}

{% block content %}

     <div class="row">
        <iframe
        width="100%"
        height="260"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        padding-top="50px"
        src="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=207413328079912712213.0004c6d4f8492c4424ee1&amp;ie=UTF8&amp;t=h&amp;ll=51.491003,-0.023003&amp;spn=0.055579,0.411987&amp;z=12&amp;output=embed"></iframe>
        <br />

        <small>View <a href="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=207413328079912712213.0004c6d4f8492c4424ee1&amp;ie=UTF8&amp;t=h&amp;ll=51.491003,-0.023003&amp;spn=0.055579,0.411987&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left">New Cross Martial Arts - Judo Clubs</a> in a larger map</small>
      </div>

{% endblock %}
