{% extends "layout.twig" %}

{% block content %}

    <div class="row">
       <p></p>
       <h1>Club Merchendise</h1>

        <h3>Judogi, company: Blitz </h3>

        <p> Children: white £20, blue £22.50 each<br>
            Adults: white £30, blue £32.50 each
        </p>
        <img src="assets/images/merchendise/blitz_j1.jpg" alt="" >
        <img src="assets/images/merchendise/blitz_j2.jpg" alt="" >
    </div>
    <div class="row">
        <h3>NCMA  branded merchendise</h3>

        <p>club badges £3.50 each <br>
        Polo Shirts: Children £12.50, Adult £15 each  </p>
        <img src="assets/images/merchendise/polo_front.JPG" alt="" >
        <img src="assets/images/merchendise/polo_back.JPG" alt="" >
        <img src="assets/images/merchendise/badge.JPG" alt="" >
    </div>
{% endblock %}
