{% extends "layout.twig" %}

{% block content %}
<h1>Randori session at the end of every month  </h1>

<p>
     Randori session at the end of every month <br>
    at <b> Galleywall road tenants Hall, Galleywall road, London SE16 3PB</b> <br>
    first one being on the <b> 31st of March</b><br>
    for Seniors and high level juniors (juniors please ask Neil first)

</p>

<p>
    This will be a:
    <li>2hr newaza (Ground work)  10am to 12am</li>
    <li>1hr break for lunch (please bring you own pack lunch) </li>
    <li>2hr tachi waza (standing Randori)   / 1pm to 3pm</li>

</p>

<p>
The cost of this will be £10  per person to be paid upfront two weeks before to secure a place.
</p>

<p>
Should you have any queries,  <a href="mailto:info@newcrossmartialarts.com?subject=randori">please contact Neil Bartholomew via email</a>
Facebook or mobile 07821679058.
</p>
<div class="row">
    <div class="span1">
         <iframe width="720" height="400" src="http://www.youtube.com/embed/qf00A7Szsvo" frameborder="0" allowfullscreen></iframe>

    </div>
</div>

<div class="row">
    <div class="span2">
        <iframe width="720" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=new+cross+martial+arts+millwall&amp;aq=&amp;sll=51.528642,-0.101599&amp;sspn=0.694591,0.977783&amp;ie=UTF8&amp;hq=new+cross+martial+arts&amp;hnear=Millwall,+Greater+London,+United+Kingdom&amp;t=m&amp;cid=17569833425192614941&amp;ll=51.503614,-0.051842&amp;spn=0.037399,0.072956&amp;z=13&amp;iwloc=A&amp;output=embed">
        </iframe>

        <br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=new+cross+martial+arts+millwall&amp;aq=&amp;sll=51.528642,-0.101599&amp;sspn=0.694591,0.977783&amp;ie=UTF8&amp;hq=new+cross+martial+arts&amp;hnear=Millwall,+Greater+London,+United+Kingdom&amp;t=m&amp;cid=17569833425192614941&amp;ll=51.503614,-0.051842&amp;spn=0.037399,0.072956&amp;z=13&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
</div>
{% endblock %}
